.my-popup {

  
    border-radius: 15px;
    padding: 20px;
    width:40%;
  }
  
  .my-title {
      color: #292929;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
  }
  
  .my-html h4 {
   color: #292929;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
  }
  
  .my-confirm-button {
      background: #FF780F;
      box-shadow: 0px 2px 4px 0px rgba(69, 21, 5, 0.09);
      color: white;
      cursor: pointer;
      border-radius: 6px;
      padding: 18px 36px;
      border: none;
      font-size: 16px;
      font-weight: 700;
      width: 208px;
      height: 55px;
  }
  
  .my-cancel-button {
      border:1px solid black;
      background: #fff;
      color: #292929;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 6px;
      padding: 18px 36px;
      width: 208px;
      height: 55px;
  }
  .body-checkout {
    background-color: #FAFAFA;
   
}
.left_checkout{
    background-color: white !important;
    border-radius:12px;
}
.table-spacing {
  border-collapse: separate;
  border-spacing: 0 14px; /* vertical spacing of 10px */
   border-radius:12px;
}
.checkout-item-custom{
    border-radius:12px; 
    background-color: white !important;
}
.padding-custom-checkout{
    padding: 4% !important;
}
.rounded-start {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.rounded-end {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.checkout-custom-form input{
    width: 30%;
  margin: 0 auto; /* décale l'input vers la droite */
  display: block;    /* important pour que margin-left fonctionne */
  border : 1px solid var(--International-Orange-200, #FF780F);
}
.checkout-right *{
    background:white;
}


element.style {
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
.bout-pan-checkout-custom {
    border-radius: 4px;
    background: var(--Orange, #FF780F);
    cursor: pointer;
    display: flex;
    width: 40px!important;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    border: 0;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pass-liv-checkout-custom{
   
    padding: 18px 36px 18px 36px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Orange, #FF780F);
    box-shadow: 0px 2px 4px 0px rgba(69, 21, 5, 0.09);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
}
.submit-custom-payment{
    padding: 27px;
    background: white;
    border-radius: 12px;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
  }
  
  .logo img {
    height: 40px;
  }
  
  .top-features {
    display: flex;
    gap: 40px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0e2a36;
    font-size: 14px;
  }
  
  .feature img {
    height: 20px;
  }

  .pass-liv-checkout-custom:disabled {
    background-color: #FF9636;
    cursor: not-allowed;
    opacity: 0.6; 
}

.pass-liv-checkout-custom:hover {
   background-color: #FF9636;
    box-shadow: 0px 8px 12px 0px rgba(69, 21, 5, 0.12);
}
